<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>Document</title>
    
    <link rel="stylesheet" href="/css/productDetail.css">

    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/styles481.css">
    <link rel="stylesheet" href="/css/styles769.css">

    
</head>
<body>
    <header>
        <div class="top-header">
            <!-- imagen logo burger-menu -->
            <div class="container-burger-cart">
                <div class="burger-menu">
                    <a><i class="fas fa-bars"></i></a>
                </div>

                <div class="cuenta-registro">
                    <a href="/login"><i class="far fa-user-circle"></i></a>
                </div>

                <div class="cart">
                    <a href="/shopping-cart"><i class="fas fa-shopping-cart"></i></a>
                </div>
            </div>



            <div class="contenedor-buscador-navbar">

                <div class="titulos-home">
                    <a href="/">Home</a>
                    <a href="">Menu</a>
                    <a href="/productos">Productos</a>
                    <a href="#Nosotros">Nosotros</a>
                    <a href="#footer">Contacto</a>
                </div>
            
                <div class="buscador">
                  <form action="#" method="post">
                    <input type="text" placeholder="Buscar productos">
                    <button>
                        <i class="fas fa-search"></i>
                    </button>
                      
                   </form>
                </div>
            
            </div>

            <!-- imagen logo  -->
            <div class="logo">
                <a href="/"><img src="/img/Logo-Rikolinos.png" alt=""></a>
            </div>



            <div class="container-user-carrito">
                <!--User-->
                <div class="user">
                    <i class="fas fa-user"></i>
                </div>

                

                <!-- carrito-->
                <div class="container-carrito-precio">
                    <div class="container-carrito">
                        <img src="/img/carrito-de-compras.png" alt="">
                    </div>
                    <div class="container-precio">
                        <p>$1000000<p>
                    </div>
                </div>
            </div>

            

        </div>
    </header>


    



        <!-- INICIO DE MAIN -->
    <main>

        <section>
            <div class="img-datalle-producto">
                <img src="" alt="">
            </div>

            <div>
                <h2>Nombre de Producto</h2>
                <p>Detalles de producto</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis aperiam dolor nemo consectetur et asperiores iure dolorum fugiat sit impedit?</p>

                <div class="Precio">
                    <p>Precio</p>
                    <p>$0000</p>
                </div>

                <div class="-+1">
                    <div>
                        <button>-</button>
                        <p>1</p>
                        <button>+</button>
                    </div>    

                    <div class="añadir-a-carrito">
                        <p>
                            Añadir a carrito
                        </p>
                    </div>
                </div>
            </div>

        </section>

        <h2>Proba otras opciones</h2>

        <section  
          class="conteiner-especialidades">    


            <div class="productos">
                    <h3>Pizza</h3>
                    <img src="/img/muffins-01.jpg" alt="">  
                    <div class="PrecioProduc">
                     <p>Pizza de toda variedad, para compartir </p> 
                    </div>
            </div>

            
            <div class="productos">
                    <h3>Parrilla</h3>
                    <img src="/img/muffins-02.jpg" alt="">
                    <div class="PrecioProduc">
                    <p>Disfrute una de las mejores parrilas del pais</p>                    
                    </div>
            </div>

            <div class="productos">
                    <h3>Postres</h3>
                    <img src="/img/muffins-03.jpg" alt=""> 
                    <div class="PrecioProduc">
                    <p>Postres unicos exquisitos y originales</p>
                    </div>                    
            </div>

            <div class="productos">
                <h3>Bebidas</h3>
                <img src="/img/bebidas.jpg" alt=""> 
                <div class="PrecioProduc">
                <p>Bebidas de todo tipo para acompañar tus comidas</p> 
                </div>                    
             </div>

            
             <div>
                 
             </div>

    </section>





    </main>

    <!-- Fin de Main -->









    <!-- INICIO DE FOOTER -->
    <footer id="footer">

        <br>
        

        <div class="container-footer">
            
            

            <div class="logo-footer">
                <img src="/img/Logo-Rikolinos.png" alt="">
            </div>
            
            
            
            <p>
                Los Rikolinos tambien en las redes
            </p>

            <ul>
                <li><a href=""><img src="/img/facebook.png" alt=""></a></li>
                <li><a href=""><img src="/img/instagram.png" alt=""></a></li>
                <li><a href=""><img  src="/img/whatsapp.png" alt=""></a></li>
                <li><a href=""> <img src="/img/twitter.png" alt=""> </a></li>

            </ul>
            <p>Todos los derecho resevado. Los Rikolinos <i class="far fa-copyright"></i></p>
        </div>
    <footer>

</body>
</html>