main {
    margin: 5px;
}

.h2-carrito {
    border: 1px solid white;
    margin: 20px auto;
}

.h2-carrito h2 {
    text-align: center;
}
/* ----------- */

.container-paragraph{
    display: flex;
    width: 100%;
    margin: 15px auto;
    justify-content: space-between;
    border-bottom: 2px solid red;
}

.container-paragraph div {
    /* border: 1px solid white; */
    display: flex;
}

.container-paragraph div p {
    margin: 0 5px;
    font-size: 4vw;
}

/* ------------ */
.container-articleCart {
    border: 1px solid white;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.container-img {
    display: flex;
    flex-direction: column;
    width: 125px;
    text-align: center;
    margin-right: 5px;
}

.container-img img {
    width: 100%;
}

.descriptiones-truck {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 60%;
}

.descriptiones-truck div {
    margin: 0 5px;
}

.descriptiones-truck div input {
    text-align: center;
    margin: 0 10px;
}

.descriptiones-truck div button {
    display: flex;
}

.container-equis {
    border: 1px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10;
    right: 0;
    height: 30px;
    width: 30px;
    color: white;
}